.gradle/
.idea/**
build/
out/
run/**
!/.idea/codeStyles
!/.idea/codeStyles/**
!/.idea/copyright
!/.idea/copyright/**
!/.idea/dictionaries
!/.idea/dictionaries/**
!/.idea/inspectionProfiles
!/.idea/inspectionProfiles/**
!/.idea/modules
!/.idea/modules/**
!/.idea/encodings.xml
!/.idea/icon.png
!/.idea/modules.xml
!/run/plugins
!/run/plugins/bStats
!/run/plugins/bStats/config.yml
!/run/plugins/ViaBackwards
!/run/plugins/ViaBackwards/config.yml
!/run/plugins/ViaVersion
!/run/plugins/ViaVersion/config.yml
